.coiny-regular {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}

.concert-one-regular {
    font-family: "Concert One", serif;
    font-weight: 400;
    font-style: normal;
}
  
#main-div {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

#inner-div {
    position:absolute;
    margin: 0%;
    top:50%;
    transform: translateY(-50%);
}

.headertxt {
    font-family: "Coiny", system-ui;
    font-size: 6rem;
    /* padding: 0; */
    -webkit-text-stroke: 3px #971F1F;
    color:#FE9788;
}

#title-txt {
    margin:0px;
    /* margin-bottom: -.2em; */
    
}

#welcome-body {
    background-color: #FAD57A;
}

.maintxt {
    color: #971F1F;
    font-family: "Concert One", system-ui;
    font-size: 1.5rem;
}

#desc-txt {
    margin-top: -20px;
    margin-bottom: 30px;

}

#startedbtn {
    color: #5A3B66;
    background-color: #BDB0CE;
    border-radius: 4rem;
    font-family: "Concert One", system-ui;
    font-size: 2.4rem;
    width: 55%;
    letter-spacing: .2rem;
    border-color: rgba(1, 1, 1, .2);
    transition: transform .2s;
}

#landing-main-div {
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#score-section {
    font-family: "Concert One", system-ui;
    border-radius: 4rem;
    background-color: #BDB0CE;
    border-color: #33336B;
    font-size: larger;
    margin-top: -25px;
}

#friendstitle {
    color:#BDB0CE;
    -webkit-text-stroke-color: #5A3B66;
    margin:0;

}

#clickonfriendtxt {
    color:#5A3B66;
    margin-top:-30px;
}

#startedbtn:hover {
    transform: scale(1.2);
}

#leaderboard-div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#top5-div {
    background-color: #D9D9D9;
    margin-left: 10%;
    margin-right: 10%;
    border-color: #971F1F;
    border-width: 3px;
    border-radius: .3rem;
    border-style: solid;

}

#goback  {
    font-family: "Concert One", system-ui;
    margin: 0;
}

#secondplace {
    height: 20vh;
    background-color: #9FB4D3;
    width: 16vw;
    position:relative;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-left: black solid 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#firstplace {
    height: 26vh;
    background-color: #FAD57A;
    width: 16vw;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-left: black solid 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#thirdplace {
    height: 15vh;
    background-color: #FE9788;
    width: 16vw;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-left: black solid 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#chart-div {
    display:flex;
    justify-content: center;
    align-items: baseline;
}

/* .place-div {
    display:flex;
    align-items: baseline;
} */

@font-face {
    font-family: "Digital Numbers";
    src: url("/DigitalNumbers-Regular.ttf");
}

