.coiny-regular {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}

.concert-one-regular {
    font-family: "Concert One", serif;
    font-weight: 400;
    font-style: normal;
}
  
#main-div {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

#inner-div {
    position:absolute;
    margin: 0%;
    top:50%;
    transform: translateY(-50%);
}

.headertxt {
    font-family: "Coiny", system-ui;
    font-size: 6rem;
    /* padding: 0; */
    -webkit-text-stroke: 3px #971F1F;
    color:#FE9788;
}

#title-txt {
    margin:0px;
    /* margin-bottom: -.2em; */
    
}

#welcome-body {
    background-color: #FAD57A;
}

.maintxt {
    color: #971F1F;
    font-family: "Concert One", system-ui;
    font-size: 1.5rem;
}

#desc-txt {
    margin-top: -20px;
    margin-bottom: 30px;

}

#startedbtn {
    color: #5A3B66;
    background-color: #BDB0CE;
    border-radius: 4rem;
    font-family: "Concert One", system-ui;
    font-size: 2.4rem;
    width: 55%;
    letter-spacing: .2rem;
    border-color: rgba(1, 1, 1, .2);
    transition: transform .2s;
}

#landing-main-div {
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#score-section {
    font-family: "Concert One", system-ui;
    color: #33336B;
    border-radius: 4rem;
    background-color: #BDB0CE;
    border-color: #33336B;
    font-size: larger;
    margin-top: -25px;
}

#friendstitle {
    color:#BDB0CE;
    -webkit-text-stroke-color: #5A3B66;
    margin:0;

}

#clickonfriendtxt {
    color:#5A3B66;
    margin-top:-30px;
}

#startedbtn:hover {
    transform: scale(1.2);
}

#leaderboard-div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#top5-div {
    background-color: #D9D9D9;
    margin-left: 10%;
    margin-right: 10%;
    border-color: #971F1F;
    border-width: 3px;
    border-radius: .3rem;
    border-style: solid;

}

#goback  {
    font-family: "Concert One", system-ui;
    margin: 0;
}

#secondplace {
    height: 25vh;
    background-color: #9FB4D3;
    width: 16vw;
    position:relative;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-left: black solid 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#firstplace {
    height: 31vh;
    background-color: #FAD57A;
    width: 16vw;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-left: black solid 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#thirdplace {
    height: 20vh;
    background-color: #FE9788;
    width: 16vw;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-left: black solid 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#chart-div {
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

@font-face {
    font-family: "Digital Numbers";
    src: url("./DigitalNumbers-Regular.ttf");

}

#startedbtn:hover {
    transform: scale(1.2);
}

.display-timer {
    font-family: 'Digital Numbers';
    font-size: 120px;
    text-align: center;
    padding: 15px 55px;
    border: 3px solid #33336B;
    border-radius: 20px;
    margin: 20px 20px;
    background-color: #D9D9D9;
}

#stopTimer {
    background-color: #D9D9D9;
    font-size: 60px;
    font-family: "Concert One", system-ui;
    text-align: center;
    padding: 10px 24px;
    border: 2px solid #33336B;
    border-radius: 40px;
    letter-spacing: 10px;
    width: 560px;
    color: #33336B;
}

#stopTimer:hover {
    background-color: #33336B;
    border-color: #D9D9D9;
    color: #D9D9D9;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-box {
    background-color: #BDB0CE;
    width: 1220px;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #33336B;
    border-radius: 20px;
}

.current-task {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    text-align: center;
    margin: 10px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

img {
    border-radius: 50%;
    border: 2px solid #5A3B66;   
    width: 50%;
    margin: 5px;
}

.cards-div {
    margin: 0 -5px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex
}

.card {
    height: 250px;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.614);
}

.column {
    float: left;
    width: 20%;
    padding: 0 10px;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .friend-name {
    font-family: "Coiny", system-ui;
    font-size: 30px;
    color: #33336B;
    margin: 10px;
  }

  .podium-name{
    font-family: "Coiny", system-ui;
    font-size: 30px;
    color: #02021b;
    margin: -10px 0 5px 0;
  }

  #podium-score {
    font-family: "Concert One", system-ui;
    font-size: 24px;
    color:#02021b;
    margin: -15px 0 5px 0;
  }